@charset "utf-8";

@import '_variables.scss';

.error {
    padding: 0 2%;
    text-align: center;

    &__not-found {
        padding-top: 48px;
        margin-top: 56px;
        font-size: 3.2rem;
    }

    &__message {
        margin: 32px 0 40px;
        font-size: 1.4rem;
    }

    &__image {
        margin-bottom: 40px;
    }
}
