@charset "utf-8";

@import '_variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 56px;
    padding: 0 32px;
    border-bottom: 1px $gray solid;
    background-color: $baseColor;

    &__icons {
        display: flex;

        &-item {
            padding: 0 8px;
        }
    }
}
