@charset "utf-8";

@import '_variables.scss';

.home {
    margin-top: 56px;

    &__categories {
        display: flex;
        padding: 8px 2%;
        border-bottom: 1px $gray solid;

        &-item {
            margin-right: 8px;
        }
    }

    &__blogs {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        row-gap: 32px;
        column-gap: 16px;
        padding: 16px 2% 24px;

        &-loading {
            padding: 8px 0;
            text-align: center;
        }
    }
}
