@charset "utf-8";

@import '_variables.scss';

.icon-button {
    border-radius: 50%;
    transition: all ease 300ms;

    &:hover {
        opacity: 0.7;
    }

    &__image {
        border-radius: 50%;
    }
}
