@charset "utf-8";

@import '_variables.scss';

.article {
    display: flex;
    padding: 16px 0;

    &__container {
        width: 100%;
        margin-left: 16px;
        padding-top: 16px;
        font-size: 1.1rem;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
    }

    &__editor {
        margin: 16px 0 0 8px;
        font-size: 0.9rem;
    }
}
